In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\nate.marko\appdata\local\programs\python\python312\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\nate.marko\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nate.marko\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\nate.marko\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\nate.marko\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\nate.marko\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

trumedia_data = pd.read_csv('~/Desktop/Project/trumedia.csv')
print(trumedia_data.head())

   Rank  playerId    abbrevName     playerFullName   player  pos  \
0     1    519317    G. Stanton  Giancarlo Stanton  Stanton   DH
1     2    660271     S. Ohtani      Shohei Ohtani   Ohtani  TWP
2     3    660670  R. Acuña Jr.   Ronald Acuña Jr.    Acuña   RF
3     4    592450      A. Judge        Aaron Judge    Judge   CF
4     5    670242    M. Wallner       Matt Wallner  Wallner   RF

       currentTeamName currentTeamAbbrevName  currentTeamId  \
0     New York Yankees                   NYY          147.0
1  Los Angeles Dodgers                   LAD          119.0
2       Atlanta Braves                   ATL          144.0
3     New York Yankees                   NYY          147.0
4      Minnesota Twins                   MIN          142.0

  currentTeamLocation  ... batsHand throwsHand 90thExitVel New Comp Grade  \
0          NY Yankees  ...        R          R       112.4             56
1          LA Dodgers  ...        L          R       111.0             54
2             Atlanta  ...        R          R       111.0             67
3          NY Yankees  ...        R          R       111.3             61
4           Minnesota  ...        L          R       111.0             57

   BSG   SFG   SDG   wOBA  xWOBA Barrel%
0   80  41.6  46.3  0.297  0.319   20.3%
1   74  43.2  45.8  0.434  0.399   25.5%
2   74  64.5  61.6  0.428  0.444   22.5%
3   73  39.2  70.7  0.420  0.414   33.1%
4   73  36.0  63.2  0.377  0.359   23.3%

[5 rows x 28 columns]